{% extends "form_base.html" %} 
{% from "_formhelpers.html" import blog_render_field %} 

{% block title %}Create Post{% endblock %} 

{% block head %}
<style>
    .toggle-path {
        transition: background 0.3s ease-in-out;
    }
    .toggle-circle {
        top: 0.2rem;
        left: 0.25rem;
        transition: all 0.3s ease-in-out;
    }
    #inp:checked ~ .toggle-circle {
        transform: translateX(100%);
    }
    #inp:checked ~ .toggle-path {
        background-color:#81E6D9;
    }
    .body-bg {
        background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
    }

    /* The switch - the box around the slider */
    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
    }

    /* Hide default HTML checkbox */
    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    /* The slider */
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }

    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

    input:checked + .slider {
        background-color: #2196F3;
    }

    input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }

    .slider.round:before {
        border-radius: 50%;
    }
</style>
{% endblock %}

{% block main %}
<main class="bg-white max-w-lg mx-auto p-6 md:p-12 my-8 rounded-lg shadow-2xl">
    <section>
        <h3 class="font-bold text-2xl">Welcome to Unveiled</h3>
        <p class="text-gray-600 pt-2">Upload a post.</p>
    </section>

    <section class="mt-4">
        <form class="flex flex-col" method="POST" action="{{ url_for('blog.create_post') }}" enctype="multipart/form-data">
            {{ form.csrf_token }}
            {{ blog_render_field(form.img, class="bg-gray-200 rounded w-full text-gray-700 focus:outline-none border-b-4 border-gray-300 focus:border-purple-600 transition duration-500 px-3 pb-3") }}
            {{ blog_render_field(form.category, class="bg-gray-200 rounded w-full text-gray-700 focus:outline-none border-b-4 border-gray-300 focus:border-purple-600 transition duration-500 px-3 pb-3") }} 
            {{ blog_render_field(form.title, class="bg-gray-200 rounded w-full text-gray-700 focus:outline-none border-b-4 border-gray-300 focus:border-purple-600 transition duration-500 px-3 pb-3") }}
            {{ blog_render_field(form.content, class="bg-gray-200 rounded w-full text-gray-700 focus:outline-none border-b-4 border-gray-300 focus:border-purple-600 transition duration-500 px-3 pb-40") }}
            {{ blog_render_field(form.tags, placeholder="<tag1>, <tag2>, <tag3> etc.", class="bg-gray-200 rounded w-full text-gray-700 focus:outline-none border-b-4 border-gray-300 focus:border-purple-600 transition duration-500 px-3 pb-3") }}    
            <!-- Rounded switch for grammar checker-->
            <div class='pt-6 text-right text-purple-700 text-m pr-2'>
                <span class='hover:text-purple-900 pr-1'>AI-based Grammar checker: </span>
                <label class="switch">
                    {{ form.grammar_checker() }}
                    <span class="slider round"></span>
                </label>
            </div>
            <button class="bg-purple-600 hover:bg-purple-700 text-white font-bold py-2 rounded shadow-lg hover:shadow-xl transition duration-200 mt-6" type="submit">Upload</button>
        </form>
    </section>
</main>
{% endblock %} 

<!--
{% block script %}
<script type="text/javascript">
    window.addEventListener('beforeunload', function (e) {
        e.preventDefault();
        e.returnValue = '';
    });
</script>
{% endblock %}
-->

{% block href1 %}/your_blogs{% endblock %}       {% block href_tag1 %}Blogs{% endblock %}
{% block href2 %}/dashboard{% endblock %}       {% block href_tag2 %}Dashboard{% endblock %}