{% extends "form_base.html" %}
{% from "_formhelpers.html" import blog_render_field %}

{% block title %} Edit your Comment {% endblock %}
    
{% block main %}
<main class="bg-white max-w-lg mx-auto p-6 md:p-12 my-8 rounded-lg shadow-2xl">
    <section>
        <h3 class="font-bold text-2xl">Edit your comment</h3>
    </section>

    <section class="mt-4">
        <form class="flex flex-col" method="POST" action="/edit_comment/{{id}}"> 
            {{ form.csrf_token }}
            {{ blog_render_field(form.new, class="bg-gray-200 rounded w-full text-gray-700 focus:outline-none border-b-4 border-gray-300 focus:border-purple-600 transition duration-500 px-3 pb-3") }} 
            <input type = 'hidden' value = '{{prev}}' name = 'prev'></input>
            <button class="bg-purple-600 hover:bg-purple-700 text-white font-bold py-2 rounded shadow-lg hover:shadow-xl transition duration-200 mt-6" type="submit">Update</button>
        </form>
    </section>
</main>
{% endblock %}

{% block href1 %}/your_comments{% endblock %}       {% block href_tag1 %}Your Comments{% endblock %}
{% block href2 %}/contact_us{% endblock %}          {% block href_tag2 %}Contact Us{% endblock %}

    