{% extends "form_base.html" %}
{% from "_formhelpers.html" import blog_render_field %}

{% block title %}Email sent{% endblock %}

{% block main %}
<main class="bg-white max-w-lg mx-auto p-8 md:p-12 my-10 rounded-lg shadow-2xl">
    <section>
        <h3 class="font-bold text-2xl">Done!</h3>
    </section>
    <section class="mt-4">
      <p>A link has been sent to your registered email for you to reset your password. If you cannot find the email, please check the junk folder.</p>
    </section>
</main>
{% endblock %}

{% block href1 %}/{% endblock %}                 {% block href_tag1 %}Home Page{% endblock %}
{% block href2 %}/contact_us{% endblock %}       {% block href_tag2 %}Contact Us{% endblock %}