{% extends "form_base.html" %}
{% from "_formhelpers.html" import blog_render_field %}

{% block title %} Reset your password {% endblock %}

<!-- no need, its in form_base already
{% block header %}
{% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          <ul>
          {% for category, message in messages %}
            <li>
              <div class="text-white px-6 py-4 border-0 rounded relative mx-24 mb-0 bg-{{ category }}-700 my-3 z-50">
                <span class="text-xl inline-block mr-5 align-middle">
                  <i class="fas fa-bell"></i>
                </span>
                <span class="inline-block align-middle mr-8">
                  <b class="capitalize">Message:</b> {{ message }}
                </span>
                <button id='flash-x' class="absolute bg-{{ category }}-700 text-2xl font-semibold leading-none right-0 top-0 mt-4 mr-6 outline-none focus:outline-none" onclick="closeAlert(event)">
                  <span>×</span>
                </button>
              </div>
            </li>
          {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}
      {% endblock %}
-->

{% block main %}
<main class="bg-white max-w-lg mx-auto p-8 md:p-12 my-10 rounded-lg shadow-2xl">
    <section>
        <h3 class="font-bold text-2xl">Unveiled</h3>
        <p class="text-gray-600 pt-2">Reset your password</p>
    </section>

    <!--
    <section class="mt-4">
      <form action="{{ url_for('auth.reset_with_token', token=token) }}" method="POST">
          {{ form.password.label }}: {{ form.password }}<br>
          {{ form.csrf_token }}
          <input type="submit" value="Change password">
      </form>
    </section>
    -->

    <section class="mt-4">
      <form class="flex flex-col" method="POST" action="{{ url_for('auth.reset_with_token', token=token) }}"> 
          {{ form.csrf_token }}
          {{ blog_render_field(form.password, class="bg-gray-200 rounded w-full text-gray-700 focus:outline-none border-b-4 border-gray-300 focus:border-purple-600 transition duration-500 px-3 pb-3") }} 
          {{ blog_render_field(form.confirm, class="bg-gray-200 rounded w-full text-gray-700 focus:outline-none border-b-4 border-gray-300 focus:border-purple-600 transition duration-500 px-3 pb-3") }}
          <button class="bg-purple-600 hover:bg-purple-700 text-white font-bold py-2 rounded shadow-lg hover:shadow-xl transition duration-200 mt-2" type="submit">Change Password</button>
      </form>
  </section>
</main>
{% endblock %}

{% block href1 %}/{% endblock %}                 {% block href_tag1 %}Home Page{% endblock %}
{% block href2 %}/contact_us{% endblock %}       {% block href_tag2 %}Contact Us{% endblock %}