{% extends 'base.html' %}

{% block body %}
{% for item in tools %}
<div class="p-4 lg:w-/3">
    <div class="h-full bg-gray-100 bg-opacity-75 px-8 pt-16 pb-24 rounded-lg overflow-hidden text-center relative">
      <h1 class="title-font sm:text-2xl text-xl font-medium text-gray-900 mb-3">{{  item.title  }}</h1>
      <p class="leading-relaxed mb-3">{{  item.description  }}</p>
      <a href='/studytools/{{item.url}}' class="text-red-500 inline-flex items-center">Go</a>
        <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path d="M5 12h14"></path>
          <path d="M12 5l7 7-7 7"></path>
        </svg>
      </a>
    </div>
  </div>

  {% endfor %}

  {% endblock %}